coverage/
CODEOWNERS
commitlint.config.js
*.spec.js
*.spec.ts
gulpfile.js
umd-dist/
docs/
gulpfile.js
tsconfig.json
tsconfig.umd.json
typedoc.json
webpack.config.js
.eslintrc.js
.eslintignore
.prettierignore
.prettierrc

